{% extends 'base.html' %}

{% block title %}User registration failed{% endblock %}

{% block header %}

	<header class="d-flex navbar-light-yellow">	
		<div class="header-login">
			<img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle"> Budget Manager</span>
		</div>
	</header>

{% endblock %}

{% block body %}

	<div class="content-wrapper">
		<div class="row initialHeightForContent align-items-center">
			<div class="col-sm-6">
				<div class="row">
					<main>
						<article>		
							<header> 
								<div class="col-lg-10 col-md-10 col-sm-12 bg-light-grey p-2">	
									<h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0">Register<a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="index.php">Back to Login</a></h2>
								</div>
							</header>
							<div class="col-lg-10 col-md-10 col-sm-12 bg-light-grey px-2 pb-2">	
								<div class="underline"></div>   
								<form class="lh-1" method="post">		
									<label class="form-label font-color-grey font-size-scaled-from-15px fw-bolder mb-1" for="name">Name</label>
									<input class="form-control form-control-sm fw-bold font-color-grey" type="text" name="name" id="name" title="Please fill out this field" aria-label="Name input for user registration" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />		
									<label class="form-label font-color-grey font-size-scaled-from-15px fw-bolder mb-1" for="email">Email address</label>
									<input class="form-control form-control-sm fw-bold font-color-grey" type="email" name="email" id="email" title="Please fill out this field" aria-label="Email address input for user registration" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />		
									<label class="form-label font-color-grey font-size-scaled-from-15px fw-bolder mb-1" for="password">Password</label>
									<input class="form-control form-control-sm fw-bold font-color-grey" type="password" name="password" id="password" title="Please fill out this field" aria-label="Password input for user registration" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />			
									<div class="d-grid mt-5">
										<button class="btn button-grey-color fw-bold font-size-scaled-from-15px" type="submit" aria-label="Register button">Register</button>
									</div>			
								</form>
							</div>
						</article>
					</main>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<section>
						<header>
							<div class="col-lg-10 col-md-10 col-sm-12 bg-light-grey p-2">	
								<h2 class="font-color-black fw-bolder font-size-scaled-from-30px m-0">Error</h2>
							</div>
						</header>
						<div class="col-lg-10 col-md-10 col-sm-12 bg-light-grey px-2 pb-2">	
							<div class="underline"></div> 
							<ul class="list-group list-group-flush font-size-scaled-from-15px">
                                {% for error in user.errors %}
								    <li class="list-group-item bg-light-grey px-0 py-1">{{ error }}</li>
                                {% endfor %}
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

{% endblock %}