{% extends 'base.html' %}

{% block title %}Account created{% endblock %}

{% block header %}

    <header class="d-flex navbar-light-yellow">	
        <div class="header-login">
            <img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle"> Budget Manager</span>
        </div>
    </header>

{% endblock %}

{% block body %}

	<main class="h-100">
		<article class="web-content d-flex align-items-center justify-content-center">
			<div class="text-center">
				<h1 class="fst-italic lh-lg font-size-scaled-from-45px fw-bolder font-color-black">Account created. Please check your email to activate it. Login page - click <a class="font-color-black link-registration-income-expense" href="/">here</a></h1>
			</div>
		</article>
	</main>

{% endblock %}