{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block header %}

	<header>	
		<nav class="navbar navbar-expand-lg navbar-light-yellow">
			<a class="navbar-brand" href="/menu/display"><img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle">Budget Manager</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Button to open main menu options">
				<span class="navbar-toggler-icon">
					<i class="icon-menu"></i>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="mainmenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item text-center"><a class="nav-link" href="/income/displayIncomeForm">Add income</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="">Add expense</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="">Review balance</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="">Settings</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="/logout">Log out</a></li>
				</ul>
			</div>
		</nav>		
 	</header>

{% endblock %}	

{% block body %}

		<main class="content-wrapper">
			<article class="initialHeightForContent d-flex align-items-center justify-content-center">
				<div class="text-center p-1 w-75 bg-light-grey">
					<h1 class="fst-italic lh-lg font-size-scaled-from-45px fw-bolder font-color-black">Monitor your incomes and expenses in one application. Be aware and save your money!</h1>
				</div>
			</article>
		</main>

{% endblock %}

	