{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block header %}

	<header class="d-flex navbar-light-yellow">	
		<div class="header-login">
			<a class="navbar-brand" href="/"><img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle"> Budget Manager</span></a>
		</div>
	</header>

{% endblock %}


{% block body %}

	<main class="content-wrapper">
		<div class="row initialHeightForContent align-items-center">
			<article>		
				<header>
					<div class="col-lg-5 col-md-6 col-sm-7 bg-light-grey p-2 mx-auto">	
						<h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0 ">Password reset<a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="/">Back to Login</a></h2>
					</div>
				</header>
				<div class="col-lg-5 col-md-6 col-sm-7 bg-light-grey px-2 pb-2 mx-auto">	
					<div class="underline"></div>   
					<form class="lh-1" action="/password/requestReset" method="post">
						<label class="form-label font-color-grey font-size-scaled-from-15px fw-bolder mb-1" for="email">Email address</label>
						<input class="form-control form-control-sm fw-bold font-color-grey" type="email" name="email" id="email" title="Please fill out this field" aria-label="Email address required to send password reset link" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
						<div class="d-grid mt-4">
							<button class="btn button-grey-color fw-bold font-size-scaled-from-15px" type="submit" aria-label="Password reset button">Send link</button>
						</div>			
					</form>
				</div>	
			</article>
		</div>
	</main>
	
{% endblock %}

	

