{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block header %}

	<header>	
		<nav class="navbar navbar-expand-lg navbar-light-yellow">
			<a class="navbar-brand" href="/menu/display"><img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle">Budget Manager</span></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Button to open main menu options">
				<span class="navbar-toggler-icon">
					<i class="icon-menu"></i>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="mainmenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item text-center"><a class="nav-link" href="/income/displayIncomeForm">Add income</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="/expense/displayExpenseForm">Add expense</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="/balance/displayBalanceReview">Review balance</a></li>
					<li class="nav-item text-center"><a class="nav-link active" href="/settings/displaySettings" aria-current="page">Settings</a></li>
					<li class="nav-item text-center"><a class="nav-link" href="/logout">Log out</a></li>
				</ul>
			</div>
		</nav>		
 	</header>

{% endblock %}	

{% block body %}	
 
    <main class="content-wrapper initialHeightForContent">
        <div class ="row g-0 initialHeightForContent align-items-center">
            <article>
                <div class="col-lg-8 col-md-10 col-sm-12 bg-light-grey mx-auto">
                    <div class="row">
                        <div class="col-12 text-center">
                            <?php if (!$isAllowedCustomizePresent): ?>
                            <h2 class="font-color-black fw-bolder font-size-scaled-from-30px">Customize your application</h2>
                            <div class="underline"></div>
                    
                            <ul class="navbar-nav flex-row font-size-scaled-from-18px">
                                <li class="nav-item text-center flex-even settings-option-style"><a class="nav-link" href="settings.php?customize=User">User</a></li>
                                <li class="nav-item text-center flex-even settings-option-style"><a class="nav-link" href="settings.php?customize=Expense">Expense</a></li>
                                <li class="nav-item text-center flex-even settings-option-style"><a class="nav-link" href="settings.php?customize=Income">Income</a></li>
                            </ul>
                            <?php elseif ($isAllowedCustomizePresent && $customizeQueryStringValue === "User"): ?>
                            <h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0 py-1">User
                                <a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="settings.php">Back</a>
                                <p class="position-absolute top-50 start-0 translate-middle-y font-size-scaled-from-15px font-orange py-1 ps-2" id="messageForUser"><?php 
                                        if (isset($_POST['name']) || isset($_POST['email']) || isset($_POST['password'])) { 
                                            if (!empty($user->errors) && !isset($_SESSION['successMessage'])) {
                                                echo $user->errors[0];
                                            }
                                            elseif (!empty($user->errors) && isset($_SESSION['successMessage'])) {
                                                echo $user->errors[0] . ". ";
                                            }	
                                            else {
                                                if (isset($_POST['name'])) {
                                                    echo $_SESSION['successMessage'][0] . ". ";
                                                }
                                                elseif (isset($_POST['email'])) {
                                                    echo $_SESSION['successMessage'][1] . ". ";
                                                }
                                                elseif (isset($_POST['password'])) {
                                                    echo $_SESSION['successMessage'][2] . ". ";
                                                }
                                            }
                                        
                                    ?><a class="link-registration-income-expense font-light-orange fst-italic" href="settings.php?customize=User"><?php if (isset($_SESSION['successMessage'])) {echo "Reload";} ?></a>
                                    <?php } ?>
                                </p>
                            </h2>
                            <div class="underline"></div>	
                            
                            <form class="lh-1 bg-medium-light-grey highlight-option" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="name-change">Name</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][0])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey" type="text" name="name" id="name-change" title="Please fill out to change username" aria-label="username change" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>	
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][0])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="name-change-button" type="submit" aria-label="Name change button">Change</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Name change button" disabled>Change</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="email-change">Email</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][1])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey" type="email" name="email" id="email-change" title="Please fill out to change email" aria-label="email change" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][1])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="email-change-button" type="submit" aria-label="Email change button">Change</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Email change button" disabled>Change</button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="password-change">Password</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][2])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey" type="password" name="password" id="password-change" title="Please fill out to change password" aria-label="password change" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][2])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="password-change-button" type="submit" aria-label="Password change button">Change</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Password change button" disabled>Change</button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form>
                            <?php if (isset($_POST['password']) && !empty($user->errors) && ($user->errors[0] === 'Password invalid' || $user->errors[0] === 'Provide new password')): ?>
                            <div class="position-relative">
                                <p class="form-text text-muted font-size-scaled-from-13px fst-italic position-absolute">Password must contain at least one uppercase letter, one lowercase letter, one number and one special character. Length at least 10 characters</p>
                            </div>
                            <?php endif; ?>
                            <?php elseif ($isAllowedCustomizePresent && $customizeQueryStringValue === "Expense"): ?>
                            <h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0 py-1">Expense
                                <a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="settings.php">Back</a>
                                <p class="position-absolute top-50 start-0 translate-middle-y font-size-scaled-from-15px font-orange py-1 ps-2" id="messageForExpense"><?php 
                                        if (isset($_POST['add-category-expense']) || isset($_POST['remove-category-expense']) || isset($_POST['add-payment-expense']) || isset($_POST['remove-payment-expense']) || isset($_POST['remove-expense']) || isset($_POST['edit-expense-id-comment']) || isset($_POST['edit-expense-id-category'])) { 
                                            if (!empty($errorsExpenseOrIncomePart) && !isset($_SESSION['successMessage'])) {
                                                echo $errorsExpenseOrIncomePart[0];
                                            }
                                            elseif (!empty($errorsExpenseOrIncomePart) && isset($_SESSION['successMessage'])) {
                                                echo $errorsExpenseOrIncomePart[0] . ". ";
                                            }	
                                            else {
                                                if (isset($_POST['add-category-expense'])) {
                                                    echo $_SESSION['successMessage'][3] . ". ";
                                                }
                                                elseif (isset($_POST['remove-category-expense'])) {
                                                    echo $_SESSION['successMessage'][4] . ". ";
                                                }
                                                elseif (isset($_POST['add-payment-expense'])) {
                                                    echo $_SESSION['successMessage'][5] . ". ";
                                                }
                                                elseif (isset($_POST['remove-payment-expense'])) {
                                                    echo $_SESSION['successMessage'][6] . ". ";
                                                }
                                                elseif (isset($_POST['remove-expense'])) {
                                                    echo $_SESSION['successMessage'][7] . ". ";
                                                }
                                                elseif (isset($_POST['edit-expense-id-comment'])) {
                                                    echo $_SESSION['successMessage'][8] . ". ";
                                                }
                                                elseif (isset($_POST['edit-expense-id-category'])) {
                                                    echo $_SESSION['successMessage'][9] . ". ";
                                                }

                                            }
                                        
                                    ?><a class="link-registration-income-expense font-light-orange fst-italic" href="settings.php?customize=Expense"><?php if (isset($_SESSION['successMessage'])) {echo "Reload";} ?></a>
                                    <?php } ?>
                                </p>
                            </h2>
                            <div class="underline"></div>	
                        
                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="add-category-expense">Category</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][3])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-50 mx-auto text-center" type="text" name="add-category-expense" id="add-category-expense" title="Please fill out to add category" aria-label="add category for expense" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][3])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="add-category-expense-button" type="submit" aria-label="Button to add category for expense">Add to the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to add category for expense" disabled>Add to the list</button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="remove-category-expense">Category</label>
                                    </div>
                                    <div class="col-6 py-1">	
                                        <?php if (!empty($categories) && !isset($_SESSION['successMessage'][4])): ?>
                                        <select class="form-select form-select-sm w-auto d-inline-block fw-bold font-color-grey text-center" id="remove-category-expense" name="remove-category-expense" aria-label="Category options that can be removed">
                                            <?php foreach ($categories as $category): ?>																				
                                            <option value="<?= $category['category']; ?>"><?= $category['category']; ?></option>
                                            <?php endforeach; ?>										
                                        </select>
                                        <?php elseif (empty($categories)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No categories available</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!empty($categories) && !isset($_SESSION['successMessage'][4])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="remove-category-expense-button" type="submit" aria-label="Button to remove category for expense">Remove from the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to remove category for expense" disabled>Remove from the list</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="add-payment-expense">Payment</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][5])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-50 mx-auto text-center" type="text" name="add-payment-expense" id="add-payment-expense" title="Please fill out to add payment method" aria-label="add payment option for expense" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][5])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="add-payment-expense-button" type="submit" aria-label="Button to add payment option for expense">Add to the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to add payment option for expense" disabled>Add to the list</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="remove-payment-expense">Payment</label>
                                    </div>
                                    <div class="col-6 py-1">	
                                        <?php if (!empty($payments) && !isset($_SESSION['successMessage'][6])): ?>
                                        <select class="form-select form-select-sm w-auto d-inline-block fw-bold font-color-grey text-center" id="remove-payment-expense" name="remove-payment-expense" aria-label="Payment options that can be removed">
                                            <?php foreach ($payments as $payment): ?>
                                            <option value="<?= $payment['payment']; ?>"><?= $payment['payment']; ?></option>
                                            <?php endforeach; ?>									
                                        </select>
                                        <?php elseif (empty($payments)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No payments method available</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>	
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!empty($payments) && !isset($_SESSION['successMessage'][6])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="remove-payment-expense-button" type="submit" aria-label="Button to remove payment option for expense">Remove from the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to remove payment option for expense" disabled>Remove from the list</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form>

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="remove-expense">ID</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($allExpenses) && !isset($_SESSION['successMessage'][7])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto text-center" type="text" name="remove-expense" id="remove-expense" title="Please fill out to remove expense" aria-label="remove expense" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php elseif (empty($allExpenses)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No expense registered</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>	
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!empty($allExpenses) && !isset($_SESSION['successMessage'][7])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="remove-expense-button" type="submit" aria-label="Button to remove expense">Remove expense</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to remove expense" disabled>Remove expense</button>		
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100 mb-2" for="edit-expense-id-comment">ID</label>
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100" for="edit-expense-comment">Comment</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($allExpenses) && !isset($_SESSION['successMessage'][8])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto mb-2 text-center" type="text" name="edit-expense-id-comment" id="edit-expense-id-comment" title="Please fill out to edit expense" aria-label="ID of expense to be edited" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <input class="form-control form-control-sm fw-bold font-color-grey text-center" type="text" name="edit-expense-comment" id="edit-expense-comment" title="Please fill out to edit expense" aria-label="Update of comment for expense" />
                                        <?php elseif (empty($allExpenses)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No expense registered</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>	
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1 align-self-stretch">
                                        <?php if (!empty($allExpenses) && !isset($_SESSION['successMessage'][8])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="edit-comment-expense-button" type="submit" aria-label="Button to edit expense with the comment">Edit comment for expense</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to edit expense with the comment" disabled>Edit comment for expense</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100 mb-2" for="edit-expense-id-category">ID</label>
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100" for="edit-expense-category">Category</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($categories) && !empty($allExpenses) && !isset($_SESSION['successMessage'][9])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto mb-2 text-center" type="text" name="edit-expense-id-category" id="edit-expense-id-category" title="Please fill out to edit expense" aria-label="ID of expense to be edited" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <select class="form-select form-select-sm w-auto d-inline-block fw-bold font-color-grey text-center" id="edit-expense-category" name="edit-expense-category" aria-label="Category to be updated for expense">
                                            <?php foreach ($categories as $category): ?>																				
                                            <option value="<?= $category['category']; ?>"><?= $category['category']; ?></option>
                                            <?php endforeach; ?>										
                                        </select>
                                        <?php elseif (empty($allExpenses)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No expense registered</p>
                                        <?php elseif (empty($categories)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No categories available</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1 align-self-stretch">
                                        <?php if (!empty($categories) && !empty($allExpenses) && !isset($_SESSION['successMessage'][9])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="edit-category-expense-button" type="submit" aria-label="Button to edit expense with the category">Edit category for expense</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to edit expense with the category" disabled>Edit category for expense</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 
                            
                            <?php if (isset($_POST['edit-expense-id-comment']) && !empty($errorsExpenseOrIncomePart) && ($errorsExpenseOrIncomePart[0] === "Comment invalid" || $errorsExpenseOrIncomePart[0] === "Up to 25 characters is allowed")): ?>
                            <div class="position-relative">
                                <p class="form-text text-muted font-size-scaled-from-13px mb-0 text-center fst-italic position-absolute w-100">Comment is optional. Only letters, numbers, space, forward slash, period and dash allowed in the comment</p>
                            </div>
                            <?php endif; ?>


                            <?php elseif ($isAllowedCustomizePresent && $customizeQueryStringValue === "Income"): ?>
                            <h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0 py-1">Income
                                <a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="settings.php">Back</a>
                                <p class="position-absolute top-50 start-0 translate-middle-y font-size-scaled-from-15px font-orange py-1 ps-2" id="messageForIncome"><?php 
                                        if (isset($_POST['add-category-income']) || isset($_POST['remove-category-income']) || isset($_POST['remove-income']) || isset($_POST['edit-income-id-comment']) || isset($_POST['edit-income-id-category'])) { 
                                            if (!empty($errorsExpenseOrIncomePart) && !isset($_SESSION['successMessage'])) {
                                                echo $errorsExpenseOrIncomePart[0];
                                            }
                                            elseif (!empty($errorsExpenseOrIncomePart) && isset($_SESSION['successMessage'])) {
                                                echo $errorsExpenseOrIncomePart[0] . ". ";
                                            }	
                                            else {
                                                if (isset($_POST['add-category-income'])) {
                                                    echo $_SESSION['successMessage'][10] . ". ";
                                                }
                                                elseif (isset($_POST['remove-category-income'])) {
                                                    echo $_SESSION['successMessage'][11] . ". ";
                                                }
                                                elseif (isset($_POST['remove-income'])) {
                                                    echo $_SESSION['successMessage'][12] . ". ";
                                                }
                                                elseif (isset($_POST['edit-income-id-comment'])) {
                                                    echo $_SESSION['successMessage'][13] . ". ";
                                                }
                                                elseif (isset($_POST['edit-income-id-category'])) {
                                                    echo $_SESSION['successMessage'][14] . ". ";
                                                }
                                            }
                                        
                                    ?><a class="link-registration-income-expense font-light-orange fst-italic" href="settings.php?customize=Income"><?php if (isset($_SESSION['successMessage'])) {echo "Reload";} ?></a>
                                    <?php } ?>
                                </p>
                            </h2>
                            <div class="underline"></div>	

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="add-category-income">Category</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][10])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-50 mx-auto text-center" type="text" name="add-category-income" id="add-category-income" title="Please fill out to add category" aria-label="add category for income" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!isset($_SESSION['successMessage'][10])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="add-category-income-button" type="submit" aria-label="Button to add category for income">Add to the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to add category for income" disabled>Add to the list</button>	
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="remove-category-income">Category</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($categories) && !isset($_SESSION['successMessage'][11])): ?>
                                        <select class="form-select form-select-sm w-auto d-inline-block fw-bold font-color-grey text-center" id="remove-category-income" name="remove-category-income" aria-label="Category options that can be removed">
                                            <?php foreach ($categories as $category): ?>																				
                                            <option value="<?= $category['category']; ?>"><?= $category['category']; ?></option>
                                            <?php endforeach; ?>										
                                        </select>
                                        <?php elseif (empty($categories)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No categories available</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!empty($categories) && !isset($_SESSION['successMessage'][11])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="remove-category-income-button" type="submit" aria-label="Button to remove category for income">Remove from the list</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to remove category for income" disabled>Remove from the list</button>		
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder py-2 h-100" for="remove-income">ID</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($allIncomes) && !isset($_SESSION['successMessage'][12])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto text-center" type="text" name="remove-income" id="remove-income" title="Please fill out to remove income" aria-label="remove income" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php elseif (empty($allIncomes)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No income registered</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1">
                                        <?php if (!empty($allIncomes) && !isset($_SESSION['successMessage'][12])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="remove-income-button" type="submit" aria-label="Button to remove income">Remove income</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to remove income" disabled>Remove income</button>		
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100 mb-2" for="edit-income-id-comment">ID</label>
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100" for="edit-income-comment">Comment</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($allIncomes) && !isset($_SESSION['successMessage'][13])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto mb-2 text-center" type="text" name="edit-income-id-comment" id="edit-income-id-comment" title="Please fill out to edit income" aria-label="ID of income to be edited" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <input class="form-control form-control-sm fw-bold font-color-grey text-center" type="text" name="edit-income-comment" id="edit-income-comment" title="Please fill out to edit income" aria-label="Update of comment for income" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <?php elseif(empty($allIncomes)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No income registered</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>	
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1 align-self-stretch">
                                        <?php if (!empty($allIncomes) && !isset($_SESSION['successMessage'][13])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="edit-comment-income-button" type="submit" aria-label="Button to edit income with the comment">Edit comment for income</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to edit income with the comment" disabled>Edit comment for income</button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 

                            <form class="lh-1 bg-medium-light-grey highlight-option" action="" method="post">	
                                <div class="form-group row align-items-center" style="font-size: 1rem;">
                                    <div class="col-3 py-1">
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100 mb-2" for="edit-income-id-category">ID</label>
                                        <label class="font-color-grey font-size-scaled-from-15px fw-bolder d-block py-2 h-100" for="edit-income-category">Category</label>
                                    </div>
                                    <div class="col-6 py-1">
                                        <?php if (!empty($categories) && !empty($allIncomes) && !isset($_SESSION['successMessage'][14])): ?>
                                        <input class="form-control form-control-sm fw-bold font-color-grey w-25 mx-auto mb-2 text-center" type="text" name="edit-income-id-category" id="edit-income-id-category" title="Please fill out to edit income" aria-label="ID of income to be edited" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                                        <select class="form-select form-select-sm w-auto d-inline-block fw-bold font-color-grey text-center" id="edit-income-category" name="edit-income-category" aria-label="Category to be updated for income">
                                            <?php foreach ($categories as $category): ?>																				
                                            <option value="<?= $category['category']; ?>"><?= $category['category']; ?></option>
                                            <?php endforeach; ?>										
                                        </select>
                                        <?php elseif (empty($allIncomes)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No income registered</p>
                                        <?php elseif (empty($categories)): ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">No categories available</p>
                                        <?php else: ?>
                                        <p class="text-center font-orange font-size-scaled-from-15px mb-0">Disabled</p>		
                                        <?php endif; ?>
                                    </div>
                                    <div class="col-3 py-1 align-self-stretch">
                                        <?php if (!empty($categories) && !empty($allIncomes) && !isset($_SESSION['successMessage'][14])): ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" id="edit-category-income-button" type="submit" aria-label="Button to edit income with the category">Edit category for income</button>	
                                        <?php else: ?>
                                        <button class="btn button-grey-color fw-bold font-size-scaled-from-15px lh-1 px-2 h-100 w-95" type="submit" aria-label="Button to edit income with the category" disabled>Edit category for income</button>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </form> 
                        
                            <?php if (isset($_POST['edit-income-id-comment']) && !empty($errorsExpenseOrIncomePart) && ($errorsExpenseOrIncomePart[0] === "Comment invalid" || $errorsExpenseOrIncomePart[0] === "Up to 25 characters is allowed")): ?>
                            <div class="position-relative">
                                <p class="form-text text-muted font-size-scaled-from-13px mb-0 text-center fst-italic position-absolute w-100">Comment is optional. Only letters, numbers, space, forward slash, period and dash allowed in the comment</p>
                            </div>
                            <?php endif; ?>

                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </main>
    
{% endblock %}       

{% block footer %}

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/js/settingsFunctionality.js"></script>

{% endblock %}