{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block header %}

<header>	
    <nav class="navbar navbar-expand-lg navbar-light-yellow">
        <a class="navbar-brand" href="/menu/display"><img class="me-1 ms-1 d-inline-block align-middle" src="/images/gold-ingots.png" alt="Gold bar" /><span class="text-uppercase font-weight-bold font-size-scaled-from-30px-navbar align-middle">Budget Manager</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Button to open main menu options">
            <span class="navbar-toggler-icon">
                <i class="icon-menu"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item text-center"><a class="nav-link" href="/income/display-income-form">Add income</a></li>
                <li class="nav-item text-center"><a class="nav-link" href="/expense/display-expense-form">Add expense</a></li>
                <li class="nav-item text-center"><a class="nav-link" href="/balance/display-balance-review">Review balance</a></li>
                <li class="nav-item text-center"><a class="nav-link active" href="/settings/display-settings-options" aria-current="page">Settings</a></li>
                <li class="nav-item text-center"><a class="nav-link" href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>		
 </header>

{% endblock %}


{% block body %}

	<main class="content-wrapper">
		<div class="row initialHeightForContent align-items-center">
			<article>		
                <section>
                    <div class="col-lg-5 col-md-6 col-sm-7 position-relative mx-auto">
                    {% if flash_messages is not empty %}
                        {% for message in flash_messages %}
                        <p class="text-center {{ message.type }} position-absolute start-50 bottom-0 translate-middle-x w-100 m-0" id="text-message-paragraph">{{ message.body }}</p> 
                        {% endfor %}
                    {% endif %}
                    </div>
                </section>
				<header>
					<div class="col-lg-5 col-md-6 col-sm-7 bg-light-grey p-2 mx-auto">	
						<h2 class="font-color-black fw-bolder font-size-scaled-from-30px position-relative m-0 ">Change password<a class="position-absolute top-50 end-0 translate-middle-y font-size-scaled-from-15px link-registration-income-expense font-color-black py-1 pe-2 fst-italic" href="/settings/display-settings/user">Back</a></h2>
					</div>
				</header>
				<div class="col-lg-5 col-md-6 col-sm-7 bg-light-grey px-2 pb-2 mx-auto">	
					<div class="underline"></div>   
					<form class="lh-1" action="/settings/changePassword" method="post">
                        <div class="password-container">
                            <label class="form-label font-color-grey font-size-scaled-from-15px fw-bolder mb-1" for="password">New password</label>
                            <input class="form-control form-control-sm fw-bold font-color-grey" type="password" name="new-password" id="password" title="Please fill out this field" aria-label="Change user password - new password for user" required oninvalid="this.setCustomValidity('Please fill out this field')" oninput="this.setCustomValidity('')" />
                            <i class="icon-eye" id="show-password"></i>
                        </div>
                        <div class="d-grid mt-4">
							<button class="btn button-grey-color fw-bold font-size-scaled-from-15px" type="submit" id="data-change-button" aria-label="Change password button">Change</button>
						</div>			
					</form>
				</div>	
			</article>
		</div>
	</main>
	
{% endblock %}

{% block footer %}

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="/js/settingsFunctionality.js"></script>
    <script src="/js/hideShowPassword.js"></script>

{% endblock %}	